{% extends "Space4Wheels/base.html" %}
{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 mb-4">Welcome to Space4Wheels!</h1>
            <p class="lead">Your Convenient Parking Solution</p>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-8 mx-auto">
            <p class="text-center">
                We at Space4Wheels understand the struggle in finding convenient parking spots in congested and busy urban areas. We created Space4Wheels to bridge the gap between people who are willing to rent their property or space for parking, and the people who need a safe and reliable place to park their vehicles.
            </p>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-8 mx-auto">
            <h2 class="mb-4">Our Mission</h2>
            <p>
                Our mission is to make parking simple, accessible, and easy for everyone. Our goal is to give parking spot owners and tenants a smooth and convenient experience.
            </p>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-8 mx-auto">
            <h2 class="mb-4">How It Works</h2>
            <div class="mb-4">
                <h3 class="mb-3" style="color: #0f9246;">Regarding Hosts who Own Parking Spaces:</h3>
                <ul class="list-unstyled">
                    <li>With our platform, listing your parking spot is simple and allows you to choose the pricing, availability, and other characteristics.</li>
                    <li>Reach a large number of prospective tenants who are searching for parking nearby.</li>
                    <li>Use your extra or underused parking spaces to make extra money.</li>
                </ul>
            </div>
            <div>
                <h3 class="mb-3" style="color: #0f9246;">Regarding Renters:</h3>
                <ul class="list-unstyled">
                    <li>Look through a variety of parking spots that are available where you want them.</li>
                    <li>Make a parking reservation that works for your requirements and budget.</li>
                    <li>Experience stress-free parking without having to worry about availability or security.</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-8 mx-auto">
            <p>
                Our commitment lies in delivering outstanding customer service and upholding transparency during the parking leasing procedure. We work hard to satisfy your demands and guarantee a hassle-free experience whether you're the renter or the owner of a parking place.
            </p>
        </div>
    </div>
</div>
{% endblock %}
