{% extends "Space4Wheels/base.html" %}
{% block content %}
    <h2>Bookings Page</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="renter-tab" data-toggle="tab" href="#renter">Renter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="host-tab" data-toggle="tab" href="#host">Host</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="renter">
            <!-- Display different sections for renter bookings based on status -->
            {% if renter_pending_bookings %}
                <h3 class="text-primary">Renter Pending Bookings</h3>
                <!-- Display pending bookings -->
                <ul>
                    {% for booking in renter_pending_bookings %}
                        <!-- Display individual booking details -->
                        <article class="media content-section">
                            <div class="media-body">
                                <h5>{{ booking.post.title }}</h5>
                                Status: {{ booking.status }}
                                <br />
                                Duration: {{ booking.reservation_start_date }} to {{ booking.reservation_end_date }}
                                <br />
                                Host: <a href="{% url 'author-profile' %}?author_username={{ booking.host.username }}">{{ booking.host.username }}</a>
                                <br />
                                Request made on: {{ booking.date_requested }}
                            </div>
                        </article>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if renter_approved_bookings %}
                <h3 class="text-success">Renter Approved Bookings</h3>
                <!-- Display approved bookings -->
                <ul>
                    {% for booking in renter_approved_bookings %}
                        <!-- Display individual booking details -->
                        <article class="media content-section">
                            <div class="media-body">
                                <h5>{{ booking.post.title }}</h5>
                                Status: {{ booking.status }}
                                <br />
                                Duration: {{ booking.reservation_start_date }} to {{ booking.reservation_end_date }}
                                <br />
                                Host: <a href="{% url 'author-profile' %}?author_username={{ booking.host.username }}">{{ booking.host.username }}</a>
                                <br />
                                Request made on: {{ booking.date_requested }}
                            </div>
                        </article>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if renter_done_bookings %}
                <h3 class="text-danger">Renter Done Bookings</h3>
                <!-- Display done bookings -->
                <ul>
                    {% for booking in renter_done_bookings %}
                        <!-- Display individual booking details -->
                        <article class="media content-section">
                            <div class="media-body">
                                <h5>{{ booking.post.title }}</h5>
                                Status: {{ booking.status }}
                                <br />
                                Duration: {{ booking.reservation_start_date }} to {{ booking.reservation_end_date }}
                                <br />
                                Host: <a href="{% url 'author-profile' %}?author_username={{ booking.host.username }}">{{ booking.host.username }}</a>
                                <br />
                                Request made on: {{ booking.date_requested }}
                            </div>
                        </article>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if renter_rejected_bookings %}
                <h3 class="text-warning">Renter Rejected Bookings</h3>
                <!-- Display rejected bookings -->
                <ul>
                    {% for booking in renter_rejected_bookings %}
                        <!-- Display individual booking details -->
                        <article class="media content-section">
                            <div class="media-body">
                                <h5>{{ booking.post.title }}</h5>
                                Status: {{ booking.status }}
                                <br />
                                Duration: {{ booking.reservation_start_date }} to {{ booking.reservation_end_date }}
                                <br />
                                Host: <a href="{% url 'author-profile' %}?author_username={{ booking.host.username }}">{{ booking.host.username }}</a>
                                <br />
                                Request made on: {{ booking.date_requested }}
                            </div>
                        </article>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if not renter_pending_bookings and not renter_approved_bookings and not renter_done_bookings and not renter_rejected_bookings %}
                <p>No bookings as a renter.</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="host">
            {% if host_bookings_pending_approval %}
                <h3 class="text-primary">Host Bookings (Pending Approval)</h3>
                <ul>
                    {% for booking in host_bookings_pending_approval %}
                    <article class="media content-section">
                        <div class="media-body">
                        <h5>{{ booking.post.title }}</h5>
                        Status: {{ booking.status }}
                        <br />
                        {{ booking.reservation_start_date }} to {{ booking.reservation_end_date }}
                        <br />
                        Request by: <a href="{% url 'author-profile' %}?author_username={{ booking.renter.username }}">{{ booking.renter.username }}</a>
                        <br />
                        Email Address: {{ booking.renter.email }}
                        <br />
                        Contact Number: {{ booking.renter.profile.contact_number }}
                        <br />
                        Request made on: {{ booking.date_requested }}
                        <br />
                        <form method="post" action="{% url 'approve-booking' booking.id %}" class="button-container">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                        <form method="post" action="{% url 'reject-booking' booking.id %}" class="button-container">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                        </div>
                    </article>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if host_bookings_approved %}
                <h3 class="text-success">Host Bookings (Approved)</h3>
                <ul>
                    {% for booking in host_bookings_approved %}
                    <article class="media content-section">
                        <div class="media-body">
                            <h5>{{ booking.post.title }}</h5>
                            Status: {{ booking.status }}
                            <br />
                            {{ booking.reservation_start_date }} to {{ booking.reservation_end_date }}
                            <br />
                            Request by: <a href="{% url 'author-profile' %}?author_username={{ booking.renter.username }}">{{ booking.renter.username }}</a>
                            <br />
                            Email Address: {{ booking.renter.email }}
                            <br />
                            Contact Number: {{ booking.renter.profile.contact_number }}
                            <br />
                            Request made on: {{ booking.date_requested }}
                            {% if user.is_authenticated and user != object.author %}
                                <p>User Rating: {{ user_rating.rating|default:"None" }}</p>

                                {% if booking and not user_rating.rating %}
                                    <!-- Display the rate button only if the booking status is 'done' and the user has not rated -->
                                    {% if booking.status == 'done' %}
                                        <a href="{% url 'rate_user' booking.id %}" class="btn btn-primary">Rate User</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </article>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if host_bookings_done %}
                <h3 class="text-danger">Host Bookings (Done)</h3>
                <ul>
                    {% for booking in host_bookings_done %}
                    <article class="media content-section">
                        <div class="media-body">
                            <h5>{{ booking.post.title }}</h5>
                            Status: {{ booking.status }}
                            <br />
                            {{ booking.reservation_start_date }} to {{ booking.reservation_end_date }}
                            <br />
                            Request by: <a href="{% url 'author-profile' %}?author_username={{ booking.renter.username }}">{{ booking.renter.username }}</a>
                            <br />
                            Request made on: {{ booking.date_requested }}
                            {% if user.is_authenticated and user != object.author %}
                                <p>User Rating: {{ user_rating.rating|default:"None" }}</p>

                                {% if booking and not user_rating.rating %}
                                    <!-- Display the rate button only if the booking status is 'done' and the user has not rated -->
                                    {% if booking.status == 'done' %}
                                        <a href="{% url 'rate_user' booking.id %}" class="btn btn-primary">Rate User</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </article>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if host_bookings_rejected %}
                <h3 class="text-warning">Host Bookings (Rejected)</h3>
                <ul>
                    {% for booking in host_bookings_rejected %}
                    <article class="media content-section">
                        <div class="media-body">
                        <h5>{{ booking.post.title }}</h5>
                        Status: {{ booking.status }}
                        <br />
                        {{ booking.reservation_start_date }} to {{ booking.reservation_end_date }}
                        <br />
                        Request by: <a href="{% url 'author-profile' %}?author_username={{ booking.renter.username }}">{{ booking.renter.username }}</a>
                        <br />
                        Request made on: {{ booking.date_requested }}
                        </div>
                    </article>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if not host_bookings_pending_approval and not host_bookings_approved and not host_bookings_pending and not host_bookings_rejected %}
                <p>No bookings as a host.</p>
            {% endif %}
        </div>
    </div>

    
{% endblock content %}